.container {
  height: 80%;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #18003a;
}

h1 {
  margin: 30px;
  font-family: 'Audiowide', cursive;
  text-shadow: 5px 0 #dc48f4;
  font-size: 8rem;
  color: #0cdcc0;
}

p {
  font-size: 2rem;
  color: #f433d1;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 0;
}

.button {
  border: none;
  color: #dc48f4;
  background-color: white;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 30px 30px;
  cursor: pointer;
  border-radius: 10px;
}

img {
  height: 30rem;
  margin-top: -50px;
}
